@import-normalize;

/* ==================
Universal 
===================*/

* {
	box-sizing: border-box;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	margin: 0;
}

html {
	--blue: hsla(217, 100%, 45%, 1);
	--blue--light: hsla(217, 100%, 56%, 1);
	--red: hsla(351, 100%, 70%, 1);
	--gray050: hsla(0, 0%, 90%, 0.5);
	--gray100: hsla(0, 0%, 65%, 1);
	--gray200: hsla(0, 0%, 45%, 1);
	--black: hsla(0, 0%, 7%, 1);
}

.content-container {
	max-width: 800px;
	margin: 0 auto;
}

header {
  text-align: center;
  padding: 1rem 0;
  border-bottom: 2px solid var(--gray050);
}

h1 {
  font-size: 2rem;
  margin: 1rem;
}

p {
	padding-bottom: 1rem;
}


img {
	width: 100%;
}

ul {
	padding: 1rem 0;
}

li {
	list-style: none;
	border-bottom:  1px solid var(--gray050);
	margin-bottom: 1rem;
}

input {
	padding:0.5rem;
}

input.todo--add {
	min-width: 500px;
}

button:focus {
	outline: none !important;
}

button {
	color: var(--blue);
	background-color: transparent;
	font-size: 1rem;
	text-align: center;
	padding: 0.5rem 0.8rem;
	border: 1px solid var(--blue);
	border-radius: 5px;
	margin: 0.5rem;
}

button.done {
	color: white;
	background-color: var(--blue);
}

button.delete {
	color: var(--red);
	border-color: var(--red);
}

button.delete:hover {
	background-color: white;
}


@media screen and (max-width: 800px) {
	button {
		font-size: 1rem;
		padding: 0.5rem 1rem;
	}
}

.filter-section {
	padding: 1rem 0;
}